ul,div,h1 {

  margin:0;
  padding:0;
}


.container {

   width: 100%;
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 36px;
}

.container h1 {

  text-align: center;
}

.todoForm {
  display: flex;
  width: 100%;
  gap: 16px;
}

.container input {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}


.list {
  list-style: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  padding: 12px;
  background: #f5f5f5;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeImg {

  cursor: pointer;
}